.dark-theme {
    --backgroundColor:#07393C;

}

.default-theme {
    --backgroundColor: #32A287;

}

$gray: #534d56;
$textColor: #FFE19C;
$textColor2: #0F8B8D;
$backgroundColor: var(--backgroundColor);