@import 'utils';

:root {
    font-size: 14px;
}

.theme {
    --bg-color: #66BEF4;
    --bg-secundary-color: #242424;
    --dark-gray: #242424;
    --bg-main-color: #E2E8CE;
    --primary-color: #E2E8CE;
    --secundary-color: #AFA7E7;
    --font-color: #f0ffff;
    --font-secundary-color: black;
    --font-color-iii: #242424;
    --title-color: #0D4287;
    --emphasis-color: #7DCFB6;
    --bg-secundary-color-lighten: lighten(#3B3B3B, 10%);
    --bg-secundary-color-darker: rgba(36, 36, 36, .5);
    --bg-secundary-color-darker-2: #363636;
    --secundary-color-darker: #9C91D0;
    --link-color: navy;
    --button-color: #0691a0;
    --button-hover-color: #05818f;
    --bg-secundary-main-color: #f0ffff;
    --bg-secundary-color-darker-3: #E2E8CE;
    --line: rgba(36, 36, 36, .5);
    --error: #b94143;

    &.dark {
        --title-color: #d2691e;
        --bg-main-color: #363636;
        --font-secundary-color: #F0F0F0;
        --font-color-iii: #E2E8CE;
        --link-color: #66BEF4;
        --bg-secundary-main-color: black;
        --line: rgba(214, 209, 209, 0.5);
        --bg-secundary-color-darker-3: #363636;
        --error: #DD8892;
    }
}

* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    &::selection {
        background-color: var(--emphasis-color);
        color: rgb(16, 8, 8);
    }

}

button:not(:disabled),
a {
    cursor: pointer;
}

h1 {
    @include custom-font($color: var(--font-secundary-color), $size: 3.8rem);
    padding-bottom: 36px;
}

body[aria-hidden="false"] {
    overflow: hidden;

    &::after {
        content: "";
        @include custom-offset-values($position: fixed, $inset: 0, $margin: auto, $z-index: 60);
        @include custom-size($width: 100vw, $height: 100vh);
        background: rgba(black, .4);
    }
}

.list {
    &--no-style {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.message {
    &--error.visible {
        @include flexbox($align-items: center, $gap: .5rem);
        padding-bottom: .1rem;
        color: $red;
    }
}

.text {
    &--lg {
        font-size: $lg
    }

    &--md {
        font-size: $md
    }

    &--bold {
        font-weight: bold;
    }

    &--spacing {
        letter-spacing: .1rem;
    }

    &--green-container {
        background-color: lighten(green, 55%);
        @include custom-font($align: center, $color: darken(green, 5%));
        width: 50%;
        font-weight: 500;
        border-radius: 20px;
    }
}

.link {
    text-decoration: none;

    &--contact {
        @include custom-font($color: var(--bg-color));

    }

    &--color-dark {
        color: var(--link-color);
    }

    &--contact:hover,
    &--footer:hover {
        text-decoration: underline;
    }

    &--navbar {
        @include custom-font($color: var(--font-secundary-color), $size: $md);
        position: relative;
        padding: 10px 0;

        &:hover::after {
            content: "";
            @include custom-offset-values($t: 85%, $l: 0, $r: 0);
            height: 1px;
            background-color: var(--font-secundary-color);
        }
    }

    &--social,
    &--footer {
        @include custom-font($color: var(--primary-color), $size: 1.2rem);

        &:hover {
            color: var(--secundary-color);
        }
    }

    &--to-top {
        @include custom-offset-values($r: 0, $b: 0);
        @include custom-border($radius: 5px, $border: 0);
        background-color: var(--secundary-color);
        padding: 5px;
        aspect-ratio: 1 / 1;

        &:hover,
        &:focus-visible {
            background-color: var(--secundary-color-darker);
        }

        i {
            color: var(--bg-secundary-color);
        }

    }
}

.input {
    &--no-style {
        background-color: transparent;
        border: 0;

        &:focus-visible {
            outline: 0;
        }
    }
}

.button {
    @include custom-border($border: .2rem solid black, $radius: 5px);
    font-size: 1.2rem;
    padding: 5px 25px;

    &:focus-visible {
        outline-offset: 1px;
    }

    &--bg-gray {
        background-color: var(--bg-secundary-color);
    }

    &--model-i {
        @include custom-font($weight: 500, $size: 1.1rem);
        @include custom-border($border: none, $radius: 2px);
        color: #F0F0F0;

        &:disabled {
            background-color: #72b7d6;
            cursor: not-allowed;
        }

        padding: 8px 40px;
        background-color: darken(rgb(100, 204, 252), 25%);

        &:not(:disabled):hover {
            background-color: darken(rgb(100, 204, 252), 15%);
        }
    }

    &--model-ii,
    &--model-iii,
    &--model-v {
        color: #E2E8CE;
    }

    &--model-ii,
    &--model-v {
        background-color: $red;
    }

    &--model-ii,
    &--model-iii {
        @include flexbox($align-items: center, $gap: 1rem);
        border: 0;
        padding: .5rem 1rem;
    }

    &--model-ii,
    &--model-v {

        &:not(:disabled):hover,
        &:not(:disabled):focus-visible {
            background-color: lighten(#b94143, 5%);
        }

        &:disabled {
            background-color: #b94143;
            opacity: .5;
            cursor: not-allowed;
        }

    }

    &--model-iii {
        background: #3D49B3;

        &:hover,
        &:focus-visible {
            background-color: lighten(#3D49B3, 10%);
        }
    }

    &--model-iv {
        @include custom-color($background: transparent, $color: var(--font-secundary-color), $border: var(--font-secundary-color));

        &:hover,
        &:focus-visible {
            @include custom-color($background: var(--bg-secundary-color), $color: #E2E8CE);
        }
    }

    &--bg-purple {
        background-color: var(--secundary-color);
    }

    &--bg-dark-purple {
        background-color: #3D49B3;
    }

    &--no-style {
        background-color: transparent;
        border: 0;
    }

    &--add {
        color: var(--font-secundary-color);
        letter-spacing: .1rem;

        i {
            padding-right: 1.2rem;

        }

        &:hover i,
        &:focus-visible i,
        &:focus-visible,
        &:hover {

            color: #3D49B3;
        }
    }

    &--navbar,
    &--access {

        color: var(--font-color);

        &:hover,
        &:focus-visible {
            background-color: lighten(#3D49B3, 10%);
        }

    }

    &--footer {
        @include custom-border($border: none, $radius: 0, $br-b-r: 5px, $br-t-r: 5px);
        height: 100%;
        color: var(--bg-secundary-color);
        padding: 0 1rem;

        &:hover,
        &:focus-visible {
            background-color: var(--secundary-color-darker);
        }
    }

    &--intro,
    &--access {
        padding: .7rem 1.8rem;
    }

    &--intro {
        @include custom-color($background: var(--bg-main-color), $color: var(--font-secundary-color), $border: var(--font-secundary-color));

        &:hover,
        &:focus-visible {
            @include custom-color($background: var(--bg-secundary-color), $color: var(--font-color));
        }
    }
}

.accordion {
    @include flexbox($direction: column, $justify-content: center);
    width: 60%;

    &__item,
    &__header {
        width: 100%;
    }

    &__item {
        @include flexbox($align-items: center, $wrap: wrap);
        @include custom-border($border: 0 solid var(--font-secundary-color));
        padding: 1.2rem 0;
        cursor: pointer;

        &>* {
            color: var(--font-secundary-color);
        }

        &[aria-expanded="true"] .icon--toggle::before {
            transform: rotateZ(90deg);
        }
    }


    .icon {
        position: relative;
        width: 1.3rem;

        &.icon--toggle {
            &::before {
                transition: transform 200ms ease-in-out;
            }

            &::after {
                transform: rotateZ(90deg);
            }

            &::after,
            &::before {
                content: '';
                border-radius: 2px;
                @include custom-size($width: .3rem, $height: 1.3rem);
                @include custom-offset-values($position: absolute, $inset: 0);
                background: var(--title-color);

            }

        }

    }

    &__item:first-child:not(:only-child) {
        @include custom-border($bt: 2px, $bb: 1px);
    }

    &__item:not(:first-child):not(:last-child) {
        @include custom-border($bt: 1px, $bb: 1px);
    }

    &__item:last-child {
        @include custom-border($bt: 1px, $bb: 2px);
    }

    &__item:only-child {
        @include custom-border($bt: 2px, $bb: 2px);
    }

    &__header {
        @include flexbox($align-items: center, $justify-content: space-between);
        position: relative;
    }


    &__body {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease-in-out;

        .content {
            padding: 1.2rem 0;
        }
    }

}

.header {
    @include flexbox($justify-content: space-between, $align-items: center);
    @include custom-offset-values($position: fixed, $inset: auto 0, $z-index: 50);
    height: 2rem;
    padding: 0 3rem;
    background-color: var(--bg-secundary-color);

    i {
        color: var(--primary-color);
    }

    &__item {
        @include flexbox($align-items: center, $gap: .8rem);
    }


}

.navbar {
    @include flexbox($justify-content: space-between, $align-items: center);
    @include custom-offset-values($position: fixed, $t: 2rem, $r: 0, $l: 0, $z-index: 10);
    border-bottom: .4px solid var(--line);
    height: 61px;
    padding: 0 3rem;
    background-color: var(--bg-main-color);

    &-list {
        @include flexbox($gap: 2.8rem);
        margin-top: .4rem;

    }

}

.brand {
    vertical-align: middle;
}

.main {
    @include flexbox($direction: column);
    background-color: var(--bg-main-color);

    & section:first-child {
        padding: calc(5rem + 61px) 3.2rem 3rem 3.2rem;
    }

    & section:not(.faq-menager):not(:first-child):last-child,
    & section::not(.faq-menager):not(:first-child):not(:last-child) {
        padding: 3rem 3.2rem;
    }
}

.checkbox__container {
    .checkbox-square {

        display: none;

        &>*,
        & {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        &:not(:checked)+.checkbox-custom i {
            display: none;

        }

        &:checked:checked+.checkbox-custom i {
            display: inline;
        }
    }

    .checkbox-custom {
        position: relative;
        padding: .5rem;
        @include custom-size($width: .2rem, $height: .2rem);
        @include flexbox($align-items: center, $justify-content: center);
        @include custom-border($border: .5px solid var(--font-secundary-color), $radius: 2px);
        cursor: pointer;
    }

    .checkbox--header {
        padding: .7rem;
    }
}

.animation {

    &--shake {
        animation: shake 0.5s;
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}

.item-container {
    position: relative;
    display: inline-block;

    &:hover .tooltip,
    &:focus-visible .tooltip {
        visibility: visible;
        opacity: 1;
        transform: translateX(-50%) translateY(-10px);
    }

    .tooltip {
        @include custom-offset-values($position: absolute, $b: 150%, $l: 50%, $z-index: 1);
        color: var(--primary-color);
        visibility: hidden;
        opacity: 0;
        background-color: black;
        padding: 5px;
        white-space: pre;
        transform: translateX(-50%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

        &::after {
            content: "";
            @include custom-offset-values($position: absolute, $t: 100%, $l: 50%);
            border: 5px solid;
            border-color: black transparent transparent transparent;
            transform: translateX(-50%);
        }
    }

    &:hover .tooltip--left,
    &:focus-visible .tooltip--left {
        visibility: visible;
        opacity: 1;
        transform: translateX(-40px);
    }

    .tooltip--left {
        @include custom-offset-values($position: absolute, $t: -26%, $l: -50%);
        color: var(--primary-color);
        visibility: hidden;
        opacity: 0;
        background-color: black;
        padding: 5px;
        white-space: pre;
        transform: translateX(-34%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

        &::after {
            content: "";
            @include custom-offset-values($position: absolute, $t: 67%, $l: 99%);
            border: 5px solid;
            border-color: transparent transparent transparent black;
            transform: translateY(-94%);
        }
    }
}

.footer {
    @include flexbox($direction: column);
    @include custom-size($height: 73vh, $width: 100%);
    position: relative;
    background-color: var(--bg-secundary-color);
    padding: 3rem 3.2rem 2rem 3.2rem;
    color: var(--primary-color);

    h2,
    h3 {
        margin-bottom: .6rem;
        color: var(--secundary-color);
    }

    h3 {
        font-weight: 100;
    }

    &__list {
        @include flexbox($direction: column, $gap: 10px);
    }


    &-container {
        position: relative;
        @include flexbox($gap: 6rem);
        @include custom-size($width: 100%, $height: 100%);

        &:last-child {
            @include flexbox($align-items: center, $flex: 1);
        }

        &:first-child:after {
            content: "";
            @include custom-offset-values($l: -1rem, $r: -1rem, $b: 0);
            height: 2px;
            background-color: var(--secundary-color);

        }

        .footer-item {
            @include flexbox($gap: 1rem, $direction: column, $justify-content: space-between);

            &__item:first-child p {
                @include custom-font($color: gray, $size: $md, $align: start);
                font-weight: bolder;
            }
        }

        .contact-item {
            @include flexbox($align-items: center, $gap: 1rem);

            &:first-of-type {
                padding-bottom: 1rem;
            }

            i {
                color: var(--secundary-color);
            }
        }


        &__item {
            height: 100%;

            &:nth-child(n+2) {
                @include flexbox($direction: column, $align-content: center);
                flex: 1;

                .footer-item__item {
                    min-height: 50%;
                }

            }
        }

        &__item:last-child,
        &__item:first-child {
            flex: 2;
        }

        &__item:last-child {
            position: relative;
            @include flexbox($align-content: center, $direction: column);

        }

        &:first-child {
            flex: 50%;
            padding-bottom: 2rem;
        }

        &:last-child {
            justify-content: center;
            padding-top: 2rem;
        }

        .social-media {
            &__list {
                @include flexbox($gap: 2rem);
            }
        }

        &:last-child {
            flex: 1;
            align-items: center;
        }

        form {
            @include flexbox($direction: column, $gap: 1.7rem);

            &,
            .input-container {
                width: 100%;
            }
        }

        label,
        input {
            font-size: 1.2rem;
        }

        .input-container {
            @include flexbox($align-items: center);
            border-radius: 5px;

            input {
                flex: 1;
                padding: 1rem 0 1rem 1rem;
                background-color: var(--bg-main-color);
                color: var(--font-secundary-color);
                @include custom-border($border: 0, $br-b-l: 5px, $br-t-l: 5px);

                &::placeholder {
                    color: var(--font-secundary-color);
                    opacity: .5;
                }

                &:focus-visible {
                    outline: none;
                    box-shadow: 0 0 5px var(--secundary-color);
                }

            }
        }
    }
}